@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://api.fontshare.com/v2/css?f%5B%5D=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-position-70 {
    background-position: 0 73%;
  }
}

* {
  @apply font-satoshi;
}

body {
  @apply bg-dark text-white bg-[url('/img/footer_bg_mobile.png')] md:bg-[url('/img/footer_bg.png')] bg-bottom bg-contain bg-no-repeat;
}

@layer components {
  .container {
    @apply max-w-[1860px] px-2.5 xl:px-[60px] mx-auto;
  }
}

/* Connect Wallet Button Styles ---Start--- */
.connect_wallet_gradient_text {
  background: #ffffff;
  box-shadow: 16px 10px 24px rgba(248, 191, 71, 0.2),
    0px 4px 10px rgba(244, 88, 203, 0.4), -10px 7px 13px rgba(41, 41, 236, 0.5),
    inset 0px -4px 4px rgba(255, 255, 255, 0.25);
}
/* .connect_wallet_gradient_text:hover span {
  color: white !important;
} */
.connect_wallet_gradient_text span {
  background: linear-gradient(89.8deg, #332aeb -18.69%, #f5888e 115.33%);
  background-clip: text;
  color: transparent;
}
/* Connect Wallet Button Styles ---End--- */

.__lets_go_btn {
  background: linear-gradient(
      87.41deg,
      #1624ee 0%,
      #f352d2 48.44%,
      #f8c93a 100%
    ),
    #ffffff;
  box-shadow: 16px 10px 24px rgba(248, 191, 71, 0.2),
    0px 4px 10px rgba(244, 88, 203, 0.4), -10px 7px 13px rgba(41, 41, 236, 0.5),
    inset 0px -4px 4px rgba(255, 255, 255, 0.25),
    inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

/* Card Styles ---Start--- */
@layer components {
  .__card {
    @apply px-[30px] py-[40px] md:p-10 xl:p-[60px] min-h-[680px] md:min-h-[auto] md:aspect-[2/2.3] lg:aspect-square rounded-[40px] overflow-hidden bg-cover lg:bg-contain flex flex-col bg-no-repeat relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 40px rgba(255, 255, 255, 0.3);
  }
  .__card_title_sm {
    @apply text-[18px] leading-[24px] md:text-xl xl:text-[32px] font-bold mt-2 relative z-[2];
  }
  .__card_title_md {
    @apply text-[48px] leading-[48px] md:text-[36px] md:leading-[36px] lg:text-[50px] lg:leading-[50px] xl:text-[65px] xl:leading-[65px] tracking-[-0.02em] text-[#F2F4FF] font-black;
  }
  .__card_title_lg {
    @apply text-[80px] leading-[90px] lg:text-[130px] lg:leading-[132px] tracking-[-0.04em] text-[#F2F4FF] font-black;
  }
  .__card_title_xl {
    @apply text-[80px] md:text-[100px] leading-[70px] lg:text-[140px] lg:leading-[90px] 2xl:text-[185px] 2xl:leading-[132px] tracking-[-0.04em] text-[#F2F4FF] font-black;
  }
  .__card_body_text {
    @apply text-[18px] leading-[24px] lg:text-[20px] xl:text-2xl lg:leading-[30px] text-[#F2F4FF] font-normal max-w-[500px] mt-5 xl:mt-[30px];
  }
  .__card_share_btn {
    @apply px-[50px] py-3 rounded-full border-2 border-white text-white mt-[30px] xl:mt-10 font-bold hover:bg-white hover:text-black duration-200;
  }
}

.__card::before,
.__price_card::before,
.__footer_top::before {
  content: "";
  @apply absolute inset-0 z-[99] border-[3px] border-white/20 rounded-[40px] pointer-events-none;
}
/* Card Styles ---End--- */

.tiger_nft_gradient_text {
  background: linear-gradient(
      87.41deg,
      #9a5beb 0%,
      #f352d2 52.08%,
      #f8c93a 100%
    ),
    #ffffff;
  background-clip: text;
  color: transparent;
}
.__price_card {
  @apply bg-contain bg-bottom bg-no-repeat shadow flex flex-col items-center text-center min-h-[620px] max-w-[480px] sm:min-w-[480px] rounded-[40px] py-[50px] px-[43px] overflow-hidden relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 40px rgba(255, 255, 255, 0.3);
}
.__price_card_title {
  @apply text-center font-black text-[48px] leading-[48px] xl:text-[54px] xl:leading-[60px] tracking-[-0.02em];
}
.__price_card_subtitle {
  @apply text-[72px] xl:text-[96px] font-black mt-10 xl:mt-0 tracking-[-0.04em];
}
.__price_card_body_text {
  @apply text-[18px] leading-[24px] xl:text-2xl mt-[60px] xl:mt-9 text-center max-w-[80%] mx-auto;
}

.__footer_top {
  /* @apply border-[3px] border-white/30 lg:border-white/20; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 40px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(60px);
}
